*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box{
    display: flex;
    gap: 20px;
}

.text1{
    background-color: antiquewhite;
    height: 50px;
    width: 130px;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.box2{
    display: flex;
    flex-direction: column-reverse; 
    gap: 5px;
}