*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box{
    height: 520px;
    width: 500px;
    background-color: rgb(214, 235, 228);
    padding: 10px;
}

.img2{
    border-radius: 50%;
}
.img1{
    border-radius: 2%;
}

b{
    padding: 15px;
}

.img-text{
    display: flex;
    align-items: center;
    flex-direction: row;
}